<div class="register-container">
    <h1>{{ 'COMPANY.REGISTER.HEADLINE' | translate }}</h1>
    <form [formGroup]="registerForm" class="register-width" (submit)="onSubmitForm()">
        <div *ngIf="formControlInputs">
            <app-ui-input
                *ngFor="let input of formControlInputs"
                [parentForm]="registerForm"
                [formControlNameString]="input.controlName"
                [labelText]="input.label"
                [inputName]="input.controlName"
                [placeHolder]="input.placeHolder ?? ''"
                [spacing]="3"
                [inputType]="input.type ?? 'text'"
            ></app-ui-input>
        </div>
        <div class="button-container d-flex justify-space-between">
            <app-ui-button
                routerLink=""
                [buttonType]="'BUTTON'"
                [orientation]="'LEFT'"
                [text]="'COMMON.LOGIN' | translate"
                [classList]="'login-button btn-border-white font-2'"
            ></app-ui-button>
            <app-ui-button
                [buttonType]="'SUBMIT'"
                [disabled]="!isFormValid"
                [orientation]="'RIGHT'"
                [text]="'COMMON.REGISTER' | translate"
                [icon]="'arrow_right_alt'"
                [classList]="'login-button btn-border-white font-2'"
            ></app-ui-button>
        </div>
    </form>
</div>
