.register-container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: radial-gradient(closest-corner at 40% 60%, #69e09d, #37667c);
}

h1 {
    color: white;
    font-weight: bold;
}

.register-width {
    width: 450px;
}

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}
