<div class="navbar">
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'Profile'" [dropButtons]="dropProfileButtons"></app-ui-button>
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'My Works'" [dropButtons]="dropWorkButtons"></app-ui-button>
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'Offers'" [dropButtons]="dropProfileButtons"></app-ui-button>
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'Customers'" [dropButtons]="dropProfileButtons"></app-ui-button>
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'Objects'" [dropButtons]="dropProfileButtons"></app-ui-button>
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'Devices'" [dropButtons]="dropProfileButtons"></app-ui-button>
    <app-ui-button [classList]="'btn bg-espm'" [buttonType]="'NAVBUTTON'" [text]="'CRM'" [dropButtons]="dropProfileButtons"></app-ui-button>
</div>
