.login-container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: radial-gradient(closest-corner at 40% 60%, #69e09d, #37667c);
}

.column {
    display: block;
}
