.login-container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.column {
    display: block;
}
