@import '../../espm.spacing.scss';

* {
    box-sizing: border-box;
}

label {
    position: absolute;
    margin: 8px 16px;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    &.focused {
        margin: -20px 4px;
        font-size: 14px;
        color: white;
    }
}

input {
    position: relative;
    padding: 8px 16px;
}
div.input-container,
div.input-container *:not(label) {
    width: 100%;
}
