<div class="input-container margin-v-{{ spacing }}">
    <label for="{{ inputId }}">{{ labelText | translate }}</label>
    <input
        [type]="inputType"
        [name]="inputName"
        [id]="inputId"
        class="input"
        [disabled]="isDisabled"
        [placeholder]="placeHolder | translate"
        [innerText]="inputText"
    />
    <div *ngIf="CustomValidationMessages && input?.invalid && (input?.dirty || input?.touched) && CustomValidationMessages" class="alert">
        <div *ngIf="input?.errors?.['required']">
            {{ CustomValidationMessages.required }}
        </div>
        <div *ngIf="input?.errors?.['minlength']">
            {{ CustomValidationMessages.minLength }}
        </div>
        <div *ngIf="input?.errors?.['maxLength']">
            {{ CustomValidationMessages.maxLength }}
        </div>
    </div>
</div>
