<form class="form">
    <div
        [class]="formInput.position.toLowerCase()"
        [ngClass]="{ 'display-column': formInput.direction === 'COLUMN', 'display-row': formInput.direction === 'ROW' }"
    >
        <app-ui-input
            *ngFor="let item of formInput.form.formControlInputs"
            [inputId]="item.id"
            [labelText]="item.label ?? ''"
            [inputName]="item.controlName"
            [CustomValidator]="item.validatorFn"
            [spacing]="2"
        ></app-ui-input>
    </div>
</form>
