//blue colors
$espmBlue: hsl(213, 49%, 42%);
$lightBlue: hsl(213, 79%, 42%);
$darkBlue: hsl(213, 49%, 42%);
$darkerBlue: hsl(213, 48%, 29%);
//green colors
$espmGreen: hsl(124, 51%, 41%);
$lightGreen: hsl(133, 65%, 33%);
//grey colors
$espmGrey: hsl(0, 0%, 33%);
//white
$espmWhite: white;
