//blue colors
$espmBlue: hsl(213, 49%, 42%);
$lightBlue: hsl(211, 100%, 50%);
$darkBlue: hsl(213, 49%, 42%);
$darkerBlue: hsl(213, 48%, 29%);
//green colors
$green: hsl(134, 61%, 41%);
//grey colors
$espmGrey: hsl(0, 0%, 33%);
