/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
html,
body {
    margin: 0;
    padding: 0;
}
*:not(mat-icon) {
    font-family: 'Open Sans', sans-serif !important;
}
mat-icon {
    font-family: 'Material Icons' !important;
}
